chromedriver-binary==83.0.4103.39.0
selenium==3.141.0
mecab-python3==0.996.5
jupyter==1.0.0
pandas==1.0.5
matplotlib==3.2.2
scikit-learn==0.23.1
seaborn==0.10.1
xgboost==1.1.1
lightgbm==2.3.1
graphviz==0.14.1
imbalanced-learn==0.7.0
optuna==2.0.0
tensorflow-cpu==2.5.3

